html {scroll-behavior: smooth;}
body, html {margin: 0;padding: 0;font-family: 'Mukta', sans-serif;}
* {box-sizing: border-box;}
.d-grid {display: grid;}
.d-flex {display: flex;display: -webkit-flex;}
.d-inline-block{display: inline-block;}
.d-table{display: table;table-layout: fixed;}
.d-table-cell{display: table-cell;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
button,input,select {-webkit-appearance: none;outline: none;font-family: 'Mukta', sans-serif;}
button,.btn,select {cursor: pointer;}
a {text-decoration: none;}
img {max-width: 100%;}
ul {margin: 0;padding: 0}
h1,h2,h3,h4,h5,h6,p {margin: 0;padding: 0}
p {color: #666;font-size: 18px;line-height: 25px;}
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.p-fixed {position: fixed;}
.p-sticky {position: sticky;}
.btn,button,.actionbg,input {border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;}
.btn:hover,button:hover {transition: 0.5s ease;-webkit-transition: 0.5s ease;-o-transition: 0.5s ease;-ms-transition: 0.5s ease;-moz-transition: 0.5s ease;}
a:hover{text-decoration: none;}
.pt-80{padding-top: 80px;}
.pb-80{padding-bottom: 80px;}
.blue-btn{background: #2ac2eb !important;}
.pink-btn{}
.orange-btn{background-color: #f99641;}
@keyframes slide{
0%{transform: translate3d(0, 0, 0);}
100%{transform: translate3d(-1221px, 0, 0);}
}



/* Header */
header .custom-container .bg-light {
	background-color: #0051a3 !important;
	padding: 0 50px 0 20px;
}
.custom-container li > a {
	border-right: 1px solid #fff;
	padding: 0;
	color: #fff !important;
	position: relative;
}
.custom-container li.last-item > a {border: none;}
.right-navbar{margin-right: 0 !important;}
.right-navbar .nav-link {border: none;}
.right-navbar .nav-link span{background: #eb1b59;font-size: 11px;position: absolute;text-align: center;border-radius: 20px;left: 17px;top: -5px;padding: 1px 6px;}
.right-navbar img {width: 20px;filter: brightness(150%);}
/* Header End */


/* main-content-Area */
.main-content-wrapper > .row{margin-right: 0;}
/* Sidebar */
.side-bar-wrap{background: #34474e;padding: 0;}
.side-bar-wrap ul{padding-left: 12px;}
.side-bar-wrap li{list-style: none;padding: 3px 0;}
.side-bar-wrap li a{color: rgb(184, 178, 178);font-size: 13px;display: block;padding: 10px;}
.side-bar-wrap li a img{width: 24px;margin-right: 15px;}
.side-bar-wrap li.active a{background: #ec1a57;color: #fff;}
.side-bar-wrap li.active a img{filter: brightness(150%);}
.side-bar-wrap li.menu-border-bottom{border-bottom: 1px solid #787c7d;}
.side-bar-wrap li a.menu-dark-background{background-color: #182023;}
.side-bar-wrap li a:hover{color: #fff;}
.side-bar-wrap li a:hover img{filter: brightness(150%);}
/* End Side Bar */

/* InnerContent */
.inner-content-wrap{padding: 30px;background-color: #f0f1f6;}
/* Dashboard */
.dashboard-first-row{border-bottom: 2px solid #e0e4ed;padding-bottom: 20px;}
.dashboard-first-row h3{color: #0051a3;font-size: 18px;}
.dashboard-first-row p{font-size: 13px;}
.dashboard-first-row a{background: #2dc1e9;padding: 10px 20px;color: #fff;border-radius: 30px;font-size: 13px;}
.dashboard-first-row a img{width: 15px;filter: brightness(150%);}

/* Second Row */
.dashboard-second-row{padding: 40px 0;}
.dashboard-sigle-box{background: #fff;padding: 25px;display: inline-block;width: 320px;}
.dashboard-sigle-box.sigle-box-right-border {margin-right: 3%;}
.dashboard-sigle-box h3{font-size: 20px;color: #4d5e6e;}
.dashboard-sigle-box p{font-size: 11px;color: #4d5e6e;}
.dashboard-sigle-box h1{color: #2dc2ed;font-size: 70px;margin-top: -18px;font-weight: bolder;}
.dashboard-sigle-box img{opacity: .2;}
.dashboard-stats-right-row{background: #fff;padding: 15px;}
.dashboard-stats-right-row > div{padding: 10px;border-radius: 7px;}
.dashboard-stats-right-row > div:hover{background-color: #f5f5f5;}
.dashboard-stats-right-row img{width: 40px;}
/* filter: saturate(19); */
.dashboard-stats-right-row p{font-size: 12px;color: #7c8d9f;line-height: 14px;}
.dashboard-stats-right-row h4{font-size: 18px;color: #7d8ea2;font-weight: bold;}
.dashboard-right-row-bottom{background: #fff;margin-top: 25px;padding: 20px;}
.dashboard-right-row-bottom p{color: #080809;font-size: 13px;}
.dashboard-right-row-bottom p strong{color: #96a6b6;font-size: 12px;}
/* Chart */
.pie-graph-wrap {padding: 0 11px 0 0;margin-top: 20px;}
.pie-graph-wrap h3{font-size: 18px;font-weight: bold;color: #4d5e70;line-height: 10px;}
.pie-graph-wrap p{font-size: 12px;color: #8c9dad;}
.pie-graph-wrap .pie-chart-inner-wrap {background: #fff;padding: 20px;}
.pie-graph-wrap #chart .apexcharts-inner.apexcharts-graphical{width: 200px;}
.pie-graph-wrap .title-bottom h2{color: #505d6e;font-size: 18px;}
.pie-graph-wrap .title-bottom span{font-size: 25px;color: #ee1a57;font-weight: bold;margin-left: 20px;}

/* Numbers */
.add-new-item-box{width: 150px;display: inline-block;text-align: center;vertical-align: bottom;padding-bottom: 8px;}
.add-new-item-box a{background: #2ac2eb;display: inline-block;width: 90px;border-radius: 50%;height: 90px;line-height: 90px;}
.add-new-item-box a:hover{opacity: .7;}
.add-new-item-box a img{filter: brightness(100);width: 35px;}
.add-new-item-box p{font-size: 12px;margin-top: 6px;}
.numbers-wrap .dashboard-stats-right-row{background: transparent;}
.numbers-wrap .dashboard-stats-right-row .input-group-text{background: #fff;border: #fff;}
.numbers-wrap .dashboard-stats-right-row .input-group-text img{width: 20px;opacity: .5;}
.numbers-wrap .dashboard-stats-right-row .input-group input{border: #fff;}

.lower-content-wrapper{background: #fff;padding: 30px 0;}
/* Tabs Area */
.numbers-tabs-wrap ul{}
.numbers-tabs-wrap li{}
.numbers-tabs-wrap button{font-size: 25px !important;border-radius: 0 !important;color: #687888 !important;border-bottom: 3px solid #d9e0e8 !important;margin-right: 5px;padding: 10px 40px;}
.numbers-tabs-wrap button.active{color: #69aaee !important;background: transparent !important;border-bottom: 3px solid #4f9cee !important;}
.numbers-tabs-wrap button:hover{}
.numbers-tabs-wrap .tab-content{}
.numbers-tabs-wrap .tab-pane{}
.numbers-tabs-wrap .tab-pane.active{}
.numbers-tabs-wrap .tab-content-area{padding: 50px 30px;text-align: center;}
.numbers-tabs-wrap table{width: 100%;table-layout: fixed;}
.numbers-tabs-wrap thead{font-weight: bold;}
.numbers-tabs-wrap thead td{padding: 15px;}
.numbers-tabs-wrap tbody{background: #f6f7f9;border-top: 1px solid #e9e5e5;}
.numbers-tabs-wrap tbody tr{border-bottom: 1px solid #fff;}
.numbers-tabs-wrap tbody td{padding: 10px;font-size: 14px;border-right: 1px solid #e6ebef;}
.numbers-tabs-wrap tbody tr td:first-child{font-size: 15px;font-weight: bold;}
.numbers-tabs-wrap tbody tr td img {width: 17px;margin-left: 10px;margin-top: -5px;}
.numbers-tabs-wrap tbody td:hover{background-color: #dae1e9;cursor: pointer;}
.change-number-description{background: #fff;}
.change-number-description label{font-size: 16px;font-weight: normal;color: #777;}
.change-number-description td{padding: 30px !important;}
.change-number-description input[type='submit']{background: #3ebb91;color: #fff;border: none;padding: 15px 25px;}
.change-number-description a{padding: 13px 40px;margin-right: 20px;color: #333;font-size: 17px;font-weight: 100;display: inline-block;}
.configure-number-options td img{margin: 0 !important;width: 50px !important;}
.configure-number-options td h3{font-size: 18px;margin-top: 10px;}
.configure-number-options .col-md-3 {position: relative;}
.configure-number-options .col-md-3::after {position: absolute;content: "";height: 50px;background: #e3dede;width: 2px;right: 0;top: 18px;}

/* Modal */
.modal-wrap{}
.modal-wrap .modal-header{border: none;}
.modal-wrap .modal-content{padding: 40px 60px;}
.modal-wrap h5{font-size: 22px;font-weight: bold;color: #4c5f70;}
.modal-wrap button.btn-close{color: #eb1e57;font-size: 12px;margin-top: -100px;margin-right: -60px;}
.modal-wrap .modal-body{padding: 0 1rem;}
.modal-wrap label{font-size: 14px;color: #4c5f70;}
.modal-wrap input{box-shadow: 2px 4px 10px 0px #eee;border: 1px solid #eee;}
.modal-wrap p{font-size: 12px;line-height: 16px;color: #8b8b8b;}
.modal-wrap .modal-footer{border-top: none;padding-top: 30px;}
.modal-wrap button.btn-secondary{background: #dae1e9;border: none;padding: 13px 35px;color: #6d7d8c;font-size: 17px;}
.modal-wrap button.btn-primary{background: #3ebb91;padding: 13px 20px;border: none;}
.modal-wrap button:hover{opacity: .7;color: #6d7d8c;}


/* Users page */
.numbers-info-wrap{padding: 10px 30px;}
.numbers-info-wrap thead{text-align: center;}

.numbers-info-wrap tbody td:hover{background-color: #fff;}
.user-extensions-options > td {padding-top: 10px !important;padding-bottom: 10px !important;}
.user-extensions-options a {background: #ec1a57;padding: 6px 20px;color: #fff;font-size: 13px;}
.user-extensions-options span {font-size: 18px;color: #778590;font-weight: normal;}
.user-extensions-options .row.justify-content-end {border-top: 1px solid #e1dbdb;padding: 18px 0 !important;}
.user-extensions-options .row.justify-content-end a {background: #f99641;padding: 13px 11px 13px 0px;font-size: 13px;font-weight: bold;margin-right: 2px;}
.user-extensions-options .row.justify-content-end .align-self-end a {background: #dae1e9;padding: 10px 30px;font-size: 13px;color: #777;font-weight: normal;}
.user-extensions-options .row.justify-content-end .align-self-end input {background: #3ebb91;padding: 10px 30px;font-size: 13px;}
.user-extensions-options .row.justify-content-end .col-6{padding: 0 !important;}




/* Responsive */
@media (max-width: 1200px) {

}
/*-- //responsive design --*/



